/* line 15, scss/main.scss */
* {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0; }

/* line 22, scss/main.scss */
body {
  font-size: 15px;
  background-color: #121417;
  display: flex;
  font-family: 'Overpass', sans-serif;
  font-family: 'Ubuntu Condensed', sans-serif;
  width: 100%; }
  /* line 31, scss/main.scss */
  body .modal {
    display: flex;
    background-color: #252d37;
    height: 60vh;
    flex-direction: column;
    border-radius: 20px;
    width: 85vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    max-height: 400px; }
    /* line 48, scss/main.scss */
    body .modal-wrapper {
      width: 85%;
      height: 80%;
      display: flex; }
      /* line 53, scss/main.scss */
      body .modal-wrapper .rating-modal {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        /* line 59, scss/main.scss */
        body .modal-wrapper .rating-modal .modal-star {
          width: 40px;
          height: 40px;
          background-color: #343f4c;
          border-radius: 50%; }
          /* line 65, scss/main.scss */
          body .modal-wrapper .rating-modal .modal-star .star {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
        /* line 73, scss/main.scss */
        body .modal-wrapper .rating-modal .title {
          color: white;
          text-align: left;
          font-size: 20px;
          letter-spacing: 2px; }
        /* line 80, scss/main.scss */
        body .modal-wrapper .rating-modal .text {
          color: #959eac;
          flex-wrap: wrap;
          text-align: left;
          line-height: 25px; }
        /* line 88, scss/main.scss */
        body .modal-wrapper .rating-modal .rating {
          display: flex;
          justify-content: space-between; }
          /* line 92, scss/main.scss */
          body .modal-wrapper .rating-modal .rating .active-rating {
            background-color: #fb7413;
            color: white; }
          /* line 97, scss/main.scss */
          body .modal-wrapper .rating-modal .rating-option {
            color: #959eac;
            background-color: #343f4c;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            text-align: center;
            line-height: 40px; }
          /* line 107, scss/main.scss */
          body .modal-wrapper .rating-modal .rating-option:hover {
            color: white;
            background-color: #959eac;
            cursor: pointer; }
        /* line 115, scss/main.scss */
        body .modal-wrapper .rating-modal .submit-button {
          background-color: #fb7413;
          color: white;
          border: none;
          border-radius: 50px;
          letter-spacing: 2px;
          text-transform: uppercase;
          height: 50px; }
        /* line 126, scss/main.scss */
        body .modal-wrapper .rating-modal .submit-button:hover {
          background-color: white;
          color: #fb7413;
          cursor: pointer; }
      /* line 133, scss/main.scss */
      body .modal-wrapper .gratitude-modal {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; }
        /* line 139, scss/main.scss */
        body .modal-wrapper .gratitude-modal .gratitude-photo {
          width: 150px; }
        /* line 143, scss/main.scss */
        body .modal-wrapper .gratitude-modal .user-option {
          color: #fb7413;
          background-color: #343f4c;
          width: 170px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          border-radius: 50px;
          letter-spacing: 1px; }
          /* line 153, scss/main.scss */
          body .modal-wrapper .gratitude-modal .user-option .user-choice {
            display: inline-block; }
        /* line 158, scss/main.scss */
        body .modal-wrapper .gratitude-modal .gratitude-title {
          letter-spacing: 1px;
          color: white;
          font-weight: 400; }
        /* line 164, scss/main.scss */
        body .modal-wrapper .gratitude-modal .gratitude-text {
          text-align: center;
          color: #959eac;
          font-size: 15px;
          line-height: 23px; }

/* line 175, scss/main.scss */
.hide {
  display: none !important; }
