// primary
$primary: hsl(25, 97%, 53%);

// neutral
$white: hsl(0, 0%, 100%);
$light-grey:hsl(217, 12%, 63%);
$medium-grey:hsl(216, 12%, 54%);
$dark-blue:hsl(213, 19%, 18%);
$very-dark-blue:hsl(216, 12%, 8%);

// font size
$fsize: 15px;

// reset
* {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
}

body {
    font-size: $fsize;
    background-color: $very-dark-blue;
    display: flex;
    font-family: 'Overpass', sans-serif;
    font-family: 'Ubuntu Condensed', sans-serif;
    width: 100%;


    .modal {
        display: flex;
        background-color: $dark-blue;
        height: 60vh;
        flex-direction: column;
        border-radius: 20px;
        width: 85vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: space-around;
        align-items: center;
        justify-content: center;
        max-width: 350px;
        max-height: 400px;

        &-wrapper {
            width: 85%;
            height: 80%;
            display: flex;

            .rating-modal {
                display: flex;
                flex-direction: column;
                justify-content: space-between;


                .modal-star {
                    width: 40px;
                    height: 40px;
                    background-color: hsl(213, 19%, 25%);
                    border-radius: 50%;

                    .star {
                        position: relative;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                .title {
                    color: $white;
                    text-align: left;
                    font-size: 20px;
                    letter-spacing: 2px;
                }

                .text {
                    color: $light-grey;
                    flex-wrap: wrap;
                    text-align: left;
                    line-height: 25px;

                }

                .rating {
                    display: flex;
                    justify-content: space-between;



                    &-option {
                        color: $light-grey;
                        background-color: hsl(213, 19%, 25%);
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 40px;
                    }

                    &-option:hover {
                        color: $white;
                        background-color: $light-grey;
                        cursor: pointer;
                    }
                }


                .submit-button {
                    background-color: $primary;
                    color: $white;
                    border: none;
                    border-radius: 50px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    height: 50px;

                }

                .submit-button:hover {
                    background-color: $white;
                    color: $primary;
                    cursor: pointer;
                }
            }

            .gratitude-modal {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                .gratitude-photo {
                    width: 150px;
                }

                .user-option {
                    color: $primary;
                    background-color: hsl(213, 19%, 25%);
                    width: 170px;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    border-radius: 50px;
                    letter-spacing: 1px;

                    .user-choice {
                        display: inline-block
                    }
                }

                .gratitude-title {
                    letter-spacing: 1px;
                    color: $white;
                    font-weight: 400;
                }

                .gratitude-text {
                    text-align: center;
                    color: $light-grey;
                    font-size: $fsize;
                    line-height: 23px;
                }
            }
        }
    }
}

// .hide {
//     display: none !important;
// }